!!! 5
%html{lang: 'ja'}
  %head
    %meta{charset: 'utf-8'}
    = stylesheet_link_tag 'sample.css.sass', :media => 'all', 'data-turbolinks-track' => true
  %body
    %h1
      Gakubuchi Sample
    %span.sample__wording
      kawanishi